
.note {
  position: relative;
  background-color: var(--color-white);
  width: 300px;
  min-height: 150px;
  margin: 50px;
  padding: 15px 10px 10px 15px;
  box-shadow: var(--card-shadow);
  border-radius: var(--border-radius);
}
.note:after {
  position: absolute;
  left: 65%;
  top: -17px;
  width: 100px;
  height: 30px;
  content: " ";
  margin-left: -90px;
  border: 1px solid rgba(200, 200, 200, .8);
  background: rgba(254, 254, 254, .6);
  box-shadow: 0px 0 3px rgba(0, 0, 0, 0.1);
  transform: rotate(-10deg);

}
.note h1 {
  font-size: 1.2rem;
  margin-bottom: 6px;
  font-weight: 600;
}
.note p {
  font-size: 1rem;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-weight: 400;
}

.button-group{
  position:absolute;
  right:5px;
  bottom:0;
  display: flex;
  justify-content: space-between;
}
.note button {
  background: transparent;
  margin-right: 5px;
  color: var(--color-primary);
  font-size: 18px;
  border: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
  outline: none;
}
.note button:hover {
  color: var(--color-hover);
  transition: 0.3s;
}
