.note {
  position:relative;
  background-color: var(--color-white);
  width: 260px;
  margin: 26px;
  float: left;
  padding: 20px 10px 10px 10px;
  box-shadow: var(--card-shadow);
  border-radius: var(--border-radius);
}
.note:after {
  position: absolute;
  left: 70%;
  top: -15px;
  width: 100px;
  height: 30px;
  content: " ";
  margin-left: -90px;
  border: 1px solid rgba(200, 200, 200, .8);
  background: rgba(254, 254, 254, .6);
  box-shadow: 0px 0 3px rgba(0, 0, 0, 0.1);
  transform: rotate(-10deg);

}
.note h1 {
  font-size: 1.2em;
  margin-bottom: 6px;
}
.note p {
  font-size: 1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  position: relative;
  float: right;
  background: #fff;
  margin-right: 5px;
  color: var(--color-primary);
  border: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
  outline: none;
}
.note button:hover {
  color: var(--color-hover);
  transition: 0.3s;
}
