header {
  background-color: var(--color-primary);
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: var(--color-white);
  font-family: 'Lato', sans-serif;
  letter-spacing: 5px;
}

@media screen and (max-width: 1024px){
  header h1 {
    text-align: center;
  }
}
