form.create-note {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: var(--color-white);
  padding: 15px;
  border-radius: var(--border-radius);
  box-shadow: var(--card-shadow);
}

form.create-note input,
form.create-note textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 20px;
  font-family: inherit;
  resize: none;
}
form.create-note input {
  font-weight: 600;
}

form.create-note .btn-add {
  position: absolute;
  right: 18px;
  bottom: 18px;
  color: var(--color-primary);
  background: transparent;
  border: none;
  width: 36px;
  height: 36px;
  font-size: 36px;
  cursor: pointer;
}

form.create-note .btn-add:hover {
  color: var(--color-hover);
  transition: 0.3s;
}

form.create-note .btn-clear{
  position: absolute;
  right: 18px;
  top: 18px;
  color: var(--color-primary);
  background: transparent;
  border: none;
  text-decoration: underline;
  font-size: 14px;
  cursor: pointer;
}
form.create-note .btn-clear:hover {
  color: var(--color-hover);
}

.edit-status{
  color: var(--color-light);
  font-size: 14px;
  font-style: italic;
}

@media screen and (max-width: 640px){
  form.create-note {
    width: 400px;
  }
}
